<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.3 2006/04/20 16:15:41 rustikus Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://provervisual.berlios.de" 
       class = "ProVerVisual.ProVerVisualPackage"
       genModel = "src/model/ProVerVisual.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <category
           id="ProVerVisual.importWizards.sampleCategory"
           name="File Import"/>
     <wizard
           category="ProVerVisual.importWizards.sampleCategory"
           class="ProVerVisual.importWizards.ImportWizard"
           icon="icons/end.gif"
           id="ProVerVisual.importWizards.ImportWizard"
           name="Import Protocol File">
        <description>
           Import a file from the local file system into the workspace.
        </description>
     </wizard>
  </extension>

</plugin>

