<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2006/05/09 20:36:30 rustikus Exp $
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "provervisual.presentation.ProvervisualModelWizardID"
      name = "%_UI_ProvervisualModelWizard_label"
      class = "provervisual.presentation.ProvervisualModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ProvervisualModelFile.gif">
      <description>%_UI_ProvervisualModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "provervisual.presentation.ProvervisualEditorID"
        name = "%_UI_ProvervisualEditor_label"
        icon = "icons/full/obj16/ProvervisualModelFile.gif"
        extensions = "provervisual"
        class = "provervisual.presentation.ProvervisualEditor" 
        contributorClass="provervisual.presentation.ProvervisualActionBarContributor" >
    </editor>
  </extension>    
</plugin>
