<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.3 2006/05/16 19:25:17 rustikus Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://provervisual.berlios.de" 
       class = "provervisual.ProvervisualPackage"
       genModel = "model/ProVerVisual.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="de.berlios.provervisual"
           name="Protocol Verification"/>
     <view
           category="de.berlios.provervisual"
           class="provervisual.views.SampleView"         icon="icons/sample.gif"
           id="provervisual.views.viewSample"     name="Sample View"/>
     <view
           category="de.berlios.provervisual"
           class="provervisual.views.OperationView" icon="icons/sample.gif"
           id="provervisual.views.viewOperation" name="Operation View"/>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
        <view
              id="provervisual.views.ViewOperations"
              ratio="0.5"
              relationship="right"
              relative="org.eclipse.ui.views.TaskList"/>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <category
           id="provervisual.importWizards.javaFile"
           name="Protocol Verification"/>
     <wizard
           category="provervisual.importWizards.javaFile"
           class="provervisual.importWizards.ImportWizard"
           icon="icons/sample.gif"
           id="provervisual.importWizards.javaFile"
           name="Import Java Source File">
        <description>
           Import a file from the local file system into the workspace.
        </description>
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.exportWizards">
     <category
           id="provervisual.exportWizards.protocolFile"
           name="Protocol Verification"/>
     <wizard
           category="provervisual.exportWizards.protocolFile"
           class="provervisual.exportWizards.ExportWizard"
           icon="icons/sample.gif"
           id="provervisual.exportWizards.protocolFile"
           name="Export Protocol File">
        <description>
           Export a single diagram file to the Protocol Verification format.
        </description>
     </wizard>
  </extension>

</plugin>

